# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/
tsconfig.tsbuildinfo

# Cloudflare OpenNext / Wrangler
/.open-next/
/.wrangler/
.mf/

# D1 local DB files
.wrangler/state/v3/d1/
*.sqlite
*.sqlite-journal

# Environment Variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / Editor files
.DS_Store
*.pem
Thumbs.db

# Temporary screenshots & recordings
/screenshots/
*.log
